// # is an id 
// . is a class name.
#app {
    height: 100vh;
    #background {
        .navbar {
            #website-icon{
                height: 3em;
                margin-right: .5em;
            }
            #navbar-options {
                margin-left: auto;
            }
        }
    }
}